{% extends 'master.html' %}
{% block body %} 

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>
                    
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>Ultrashop</span></h1>
                                <h2>Everything at one place</h2>
                                <p>Shop as much as you want with the best deals </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/static/images/home/best.png" class="girl img-responsive" alt="" height="900px" />
                              
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Ultrashop</span></h1>
                                <h2>Everything at one place</h2>
                                <p>Shop as much as you want with the best deals </p>	
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/static/images/home/1.jpg" class="girl img-responsive" alt="" />
                                
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>Ultrashop</span></h1>
                                <h2>Everything at one place</h2>
                                <p>Shop as much as you want with the best deals </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="/static/images/home/girl3.jpg" class="girl img-responsive" alt="" />
                                <img src="/static/images/home/pricing.png" class="pricing" alt="" />
                            </div>
                        </div>
                        
                    </div>
                    
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        {% for c in category %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#{{c.category_id}}">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        {{c.name}}
                                    </a>
                                </h4>
                            </div>
                            <div id="{{c.category_id}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        {% for i in c.sub_category_set.all %}
                                        <li><a href="/?category={{i.sub_category_id}}">{{i.sub_name}}</a></li>
                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div><!--/category-products-->
                
                    <div class="brands_products"><!--brands_products-->
                        <h2>Brands</h2>
                        <div class="brands-name">
                            <ul class="nav nav-pills nav-stacked">
                                {% for i in brand %}
                                <li><a href="/?brand={{i.brand_id}}"> {{i.name}}</a></li>
                                {% endfor %}
    
                            </ul>
                        </div>
                    </div><!--/brands_products-->
                    
                
                </div>
            </div>
            
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    {% for p in product%}
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="{{p.image}}" alt="" height = "250px;"/>
                                        <h2>{{p.price}}</h2>
                                        <p>{{p.name}}</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>{{p.price}}</h2>
                                            <p>{{p.name}}</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        </div>
                                    </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    {% comment %} <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li> {% endcomment %}
                                    <li><a href="{% url 'product_details' p.product_id %}"><i class="fa fa-plus-square"></i>View Product</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                   {% endfor %} 
                </div><!--features_items-->
                
               
                
            </div>
        </div>
    </div>
</section>



{% endblock %}

